{{ partial "header.html" . }}
<body>
  {{ partial "navbar.html" . }}
  <div class="container">
    <div class="row">
    	<!-- Main jumbotron for a primary marketing message or call to action -->
    	<div class="jumbotron">
    		<h1>{{ .Site.Title }}</h1>
    		<p>{{ if isset .Site.Params "description" }}{{ .Site.Params.description }}
          {{ else }}You can customize this text by params "description" in your <code>config.toml</code>.{{ end }}</p>
    	</div>
    </div>

  {{ range .Data.Pages }}
    {{ if eq .Title "Home" }}
      {{ .Content }}
    {{ end }}
  {{ end }}
</div>
</body>
