{{ partial "header.html" . }}
<body>
  {{ partial "navbar_blog.html" . }}
  <div class="container">
    <div class="row">
      <h1>Blog</h1>
    </div>

    {{ range .Data.Pages }}
    <div class="row">
      <div class="col-sm-1">
        <h3>
          <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 02" }}</time>
        </h3>
      </div>
      <div class="col-sm-11">
          <div class="col-sm-11">
          <h3>
            <a class="doc-entry" href="{{ .RelPermalink }}">
              {{ .Title }}{{ if .Draft }} #Draft{{ end }}

            </a>
          </h3>
        </div>
        <div class="col-sm-11">

            <p class="doc-entry-description">{{.Description}}</p>
            <p class="doc-entry-meta"></p>
        </div>
      </div>
    </div>
    {{ end }}


  </div>
</body>
</html>
