{{ partial "header.html" . }}
{{ partial "navbar_form.html" . }}
<body>
  <div class="container">

    <h1>Kata Forms</h1>
    <section class="panel">
      <div class="panel-body">
        <p>These are the common paths to analytic greatness</p>


        {{ range first 20 .Data.Pages.ByTitle }}

        <div class=".col-sm-8">
          <a class="doc-entry" href="{{ .RelPermalink }}">
            <h3 class="doc-entry-title">{{ .Title }}{{ if .Draft }} #Draft{{ end }}</h3>
          </a>
          <p class="doc-entry-description">{{.Description}}</p>
          <p class="doc-entry-meta"></p>
        </div>


      
        {{ end }}
      </div>
    </section>
  </div>
</body>
</html>
