{{ partial "header.html" . }}
<body style="font-size:14px">
  {{ partial "navbar_form.html" . }}
  <div class="container">
  <h1>Kata Forms</h1>
      <div class="row">
        <h4>A form is a pattern you follow, repeat, iterate and learn from.
          The data won't be the same, the techniques are universal.
        </h4>
      </div>
      {{ range first 20 .Data.Pages.ByDate}}
        <div class="row">

              {{ if .Params.image }}
            <div class="col-md-2">
              <a class="doc-entry" href="{{ .RelPermalink }}">
                <img src="{{.Params.image}}">
              </a>
            </div>
            {{ end }}
            <div class="col-md-3">
              <a class="doc-entry" href="{{ .RelPermalink }}">
                <h3 class="doc-entry-title">{{ .Title }}{{ if .Draft }} #Draft{{ end }}</h3>
              </a>
            </div>

            <div class="col-md-8">
              <p class="doc-entry-description">{{.Description}}</p>
            </div>

        </div>
      {{ end }}
  </div>
</body>
</html>
