{{ partial "header.html" . }}
<body>
  {{ partial "navbar_tool.html" . }}
  <div class="container">

    <h1>Tools</h1>
    <section class="panel">
      <div class="panel-body">
        <p>Mastery of data means mastering your toolkit</p>

        <p>Within the world of every major martial art form is hundreds of variations. Two Aikido dojos miles apart in the same major metropolitan area will teach differently and value different schools of thought. Both are valid and will provide both physical benefit and safety. (Both will also be slightly dismissive of the
        other, but that&#8217;s human nature)</p>

        <p>How you exercise your kata is dependent on what tools you have at hand. Perhaps you&#8217;re a corporate SAS or Tableau user, maybe you&#8217;re a data scientist exercising R and Python, and maybe you&#8217;re an Excel spreadsheet black belt. Each tool is valid and will provide analytic benefit, though they vary dramatically in their cost and speed to analysis results.</p>

        <p>With a little adaptation, you should be able to perform almost all of the kata within one tool environment. Remember, limitations will set you free.</p>
        

        {{ range first 20 .Data.Pages.ByTitle }}
        <h3>
          <a class="doc-entry" href="{{ .RelPermalink }}">
            {{ .Title }}{{ if .Draft }} #Draft{{ end }}

          </a>
        </h3>
        {{ end }}
      </div>
    </section>
  </div>
</body>
</html>
