{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<body>
  <div class="container">

  <h1> Blog content list</h1>
  {{ range .Data.Pages }}
    <div class=".col-sm-1">
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time>
    </div>
    <div class=".col-sm-8">
      <a class="doc-entry" href="{{ .RelPermalink }}">
        <h3 class="doc-entry-title">{{ .Title }}{{ if .Draft }} #Draft{{ end }}</h3>
      </a>
      <p class="doc-entry-description">{{.Description}}</p>
      <p class="doc-entry-meta"></p>

    </div>


	{{ end }}
</div>
</body>
</html>
